@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #819199, #425E6E);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #23323aa4; /* pra cima e pra baixo monocromia */
    width: 800px;
    padding: 10px;
    margin: auto;
}
    
h1 {
    color: #6B1D21;
    text-align: center;
    text-shadow: 1px 1px 2px #4b1517a4    ;
}

h2 {
    color: #9C795C;
}

p {
    text-align: justify;
}
